* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Midni;
    src: url(/font/Midnight.ttf) format("");
}

@font-face {
    font-family: Blutea;
    src: url(/font/Bluetea.ttf) format("");

}

@font-face {
    font-family: Roboto;
    src: url(/font/Roboto-Light.ttf) format("");
}

.logo__navbar {
    width: 86px;
}

.background__nav {
    background-color: rgba(228, 43, 179, 60%);
}

.contenedor__general {
    background-image: url(/images/fondotrap.avif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.cuestionario__contenedor {
    background-color: rgba(0, 0, 0, 70%);
    width: 30rem;
    padding: 4rem;
    text-align: center;

}

.titulo__cuestionario {
    color: rgb(226, 11, 11);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Midni;
}

#pregunta {
    font-size: 22px;
    color: rgba(226, 11, 11);
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 50px;
    font-family: Roboto;
}

#opciones {
    text-align: center;
    font-family: Roboto;
}

.boton {
    background-color: rgba(203, 44, 240, 30%);
    color: white;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 0;
    outline: 0;
}

.boton:hover {
    cursor: pointer;
    background-color: #2c52f0;

}

#progreso {
    font-size: 20px;
    margin: 10px;
    font-family: Midni;
    color: rgb(226, 11, 11);

}

.boton__reseteo {
    background-color: rgb(203, 44, 240);
    color: white;
    width: 300px;
    font-size: 20px;
    border-radius: 1rem;
    padding: 10px 20px;
    margin: 10px 0;


}

.link__reseteo {
    text-decoration: none;
    color: black;

}



.texto__reseteo:hover {
    color: beige;
}


.titulo__nav {
    font-size: 32px;
    color: rgb(106, 17, 123);
    font-family: Midni;
}

.titulo__nav:hover {
    background-color: rgba(228, 43, 179,50%);
    transition: 0.4s;
    border-radius: 3px;
    margin: 0 10px;
}

.footer__contenedor {
    background-color: rgba(228, 43, 179, 60%);
    height: 120px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(163, 213, 214);
}

.logos__redes {
    color: rgb(8, 91, 137);
    font-size: 64px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.fa-twitter:hover {
    color: rgb(21, 193, 231);
  }

.puntaje__cuestionario{
    font-size: 60px;
    color: rgba(228, 43, 179, 60%)
}

.contenedor__solapas {
    background: rgb(203, 44, 240);
    background: radial-gradient(circle, rgba(203, 44, 240, 1) 15%, rgba(240, 44, 92, 1) 35%, rgba(233, 1, 246, 1) 44%, rgba(0, 255, 224, 1) 84%, rgba(21, 193, 231, 1) 91%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.imagen__respuestas{
    width: 65%;
    padding: 15px;
    border: solid 2px rgb(21, 193, 231);
    
}

.encabezado__puntaje{
    font-family: Blutea;
    font-size: 64px;
}

.texto__puntaje{
    font-family: Midni;
    font-size: 32px;
}

.link__puntaje{
    text-decoration: none;
    font-size: 32px;
    font-family: Roboto;
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 50px;
    color: rgba(240, 44, 92, 1);
    
}

.img__twitter{
    width: 50%;
    border: solid 2px rgb(21, 193, 231);
    padding: 20px;
    border-radius: 50px;
}